name: joinup-server

services:
  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:3.8-management
    environment:
      RABBITMQ_DEFAULT_USER: joinup
      RABBITMQ_DEFAULT_PASS: 123456
    ports:
      - "5672:5672"
      - "15672:15672"
    mem_limit: 256m

  postgres:
    container_name: database
    image: postgres:11.2-alpine
    ports:
      - "54323:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_MULTIPLE_DATABASES: user-service-local, message-center-local
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
      - ./scripts/init_schema.sh:/docker-entrypoint-initdb.d/init_schema.sh
    mem_limit: 512m

  redis:
    container_name: redis
    image: "redis:7-alpine"
    ports:
      - "63783:6379"
    command: ["redis-server", "--requirepass", "123456", "--appendonly", "yes", "--dir", "/data"]
    volumes:
      - ./data/redis:/data
    mem_limit: 128m
