server:
  port: 8088


spring:
  application:
    name: gateway

  profiles:
    active: local

  rabbitmq:
    host: ${joinup.rabbitmq.host}
    port: ${joinup.rabbitmq.port}
    virtual-host: ${joinup.rabbitmq.virtual-host}
    username: ${joinup.rabbitmq.username}
    password: ${joinup.rabbitmq.password}

  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_ADDR}
        namespace: ${joinup.nacos.namespace}
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**, /admin/user/**, /verify, /test/**, /interest/**
        - id: course-service
          uri: lb://course-service
          predicates:
            - Path=/course/**, /admin/course/**
        - id: team-service
          uri: lb://team-service
          predicates:
            - Path=/team/**, /admin/team/**, /theme/**, /admin/theme/**, /tag/**, /admin/tag/**, /admin/team-member/**
        - id: boya-service
          uri: lb://boya-service
          predicates:
            - Path=/boya/**
        - id: message-center
          uri: lb://message-center
          predicates:
            - Path=/message/**, /admin/message/**, /admin/log/**
        - id: file-service
          uri: lb://file-service
          predicates:
            - Path=/oss/file/**


joinup:
  jwt:
    location: classpath:joinup.jks
    alias: joinup
    password: ${JWT_PASSWORD}
    tokenTTL: 30m

  auth:
    exclude-paths:
      - /user/wxLogin
      - /user/login
      - /user/register
      - /verify/**
      - /test/hello
      - /theme/list
      - /interest/all
      - /team/search
      - /message/announcement
    admin-regex-paths:
      - ^/user/\d+$
    admin-ant-paths:
      - /admin/**