server:
  port: 8030


feign:
  okhttp:
    enabled: true
  sentinel:
    enabled: true


spring:
  application:
    name: message-center

  profiles:
    active: local

  datasource:
    url: jdbc:mysql://${joinup.db.host}:${joinup.db.port}/${joinup.db.database}?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${joinup.db.username}
    password: ${joinup.db.password}

  cloud:
    nacos:
      discovery:
        server-addr: ${NACOS_ADDR}
        namespace: ${joinup.nacos.namespace}
    sentinel:
      transport:
        dashboard: localhost:8090
      http-method-specify: true

  redis:
    host: ${joinup.redis.host}
    port: ${joinup.redis.port}
    password: ${joinup.redis.password}
    lettuce:
      pool:
        max-active: 50
        max-idle: 10
        min-idle: 5
        time-between-eviction-runs: 10s

  rabbitmq:
    host: ${joinup.rabbitmq.host}
    port: ${joinup.rabbitmq.port}
    virtual-host: ${joinup.rabbitmq.virtual-host}
    username: ${joinup.rabbitmq.username}
    password: ${joinup.rabbitmq.password}

  mail:
    host: smtp.163.com
    port: 465
    username: joinup_service@163.com
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            enable: true
            required: true
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false


mybatis-plus:
  configuration:
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler
  global-config:
    db-config:
      update-strategy: not_null
      id-type: auto


logging:
  level:
    com.hmall: debug
  pattern:
    dateformat: HH:mm:ss:SSS
  file:
    path: "logs/${spring.application.name}"


knife4j:
  enable: true
  openapi:
    title: 搭伙儿消息中心接口文档
    description: "搭伙儿消息中心接口文档"
    email: chenxuanrao06@gmail.com
    concat: rcx
    version: v1.0.0
    group:
      default:
        group-name: default
        api-rule: package
        api-rule-resources:
          - cn.org.joinup.message.controller
joinup:
  message:
    verify:
      send-interval: 60
      send-max-times: 10
