server:
  port: 8081


feign:
  okhttp:
    enabled: true
  sentinel:
    enabled: true


spring:
  datasource:
    url: jdbc:postgresql://${joinup.db.host}:${joinup.db.port}/${joinup.db.database}?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai
    driver-class-name: org.postgresql.Driver
    username: ${joinup.db.username}
    password: ${joinup.db.password}
    hikari:
      maximum-pool-size: 5

  cloud:
    sentinel:
      transport:
        dashboard: 81.70.182.217:8090
      http-method-specify: true

  redis:
    host: ${joinup.redis.host}
    port: ${joinup.redis.port}
    password: ${joinup.redis.password}
    database: ${joinup.redis.database}
    lettuce:
      pool:
        max-active: 50
        max-idle: 10
        min-idle: 5
        time-between-eviction-runs: 10s


mybatis-plus:
  configuration:
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler
  global-config:
    db-config:
      update-strategy: not_null
      id-type: auto


logging:
  level:
    cn.org.joinup: debug
  pattern:
    dateformat: HH:mm:ss:SSS
  file:
    path: "logs/${spring.application.name}"

wx:
  miniapp:
    app-id: ${joinup.wx.miniapp.app-id}
    app-secret: ${joinup.wx.miniapp.app-secret}
    msg-data-format: JSON
